.homeContentContainer {
  display: flex;
  font-display: column;
  height: 93vh;
  width: 100%;
}

.aside {
  flex: 3;
  /* border: 1px solid black; */
  position: sticky;
}

.feed {
  flex: 5;
  border: 1px solid black;
}

.related {
  flex: 3;
  /* border: 1px solid black; */
  position: sticky;
}
