@tailwind base;
@tailwind components;
@tailwind utilities;

.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-blur {
  backdrop-filter: blur(100rem);
  background-color: rgba(255, 255, 255, 0.8);
}
