@tailwind base;
@tailwind components;
@tailwind utilities;

.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-blur {
  backdrop-filter: blur(100rem);
  background-color: rgba(255, 255, 255, 0.8);
}

.centerPostModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeHolderCss::placeholder {
  padding-top: 8px;
  padding-left: 4px;
}

.selectedShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
