.relatedAddWrapper {
  height: auto;
  width: 100%;
  margin-top: 10px;
}

.relatedFriendWrapper {
  /* border: 1px solid black; */
  margin-top: 20px;
}
.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.friendListWrapper {
  overflow-y: auto;
  max-height: 465px;
}
.relatedAdImg {
  height: auto;
  width: 90%;
  object-fit: contain;
  margin-bottom: 10px;
}
.relatedAdLink {
  margin-left: 20px;
  /* border: 1px solid black; */
}

.friendheadingWrapper {
  margin: 20px 0px 10px 0px;
}

.relatedFriendText {
  font-size: 20px;
  margin: 30px 0px 0px 30px;
  font-weight: bold;
}

.friendList {
  display: flex;
  align-items: center;
  margin: "10px 0 10px 0px";
}

.friendImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 15px 5px 30px;
}

.realtedHrDivider {
  margin: 10px 0px 10px 10px;
}
